/***********
 * General *
 ***********/

body {
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}

#result {
    text-align: center;
    font-size: 2em;
    padding: 1.5em;
}

.loading {
    background: #fff url('images/load.gif') no-repeat right center;
    opacity: 0.7;
}

.navbar {
    margin-bottom: 0;
}

.main-panel {
    padding-top: 15px;
}

.main-panel-left {
    padding-right: 5px !important;
}

.main-panel-center {
    border-left: 1px solid rgba(90,90,90,0.2);
    border-right: 1px solid rgba(90,90,90,0.2);
    padding-left: 0;
    padding-right: 0;
}

.main-panel-right {
    background-color: #171b20;
    height: 100%;
}

/**********
 * Header *
 **********/

.user-pic-header {
    width: 20px;
    margin-right: 10px;
}

/**********
 * Login  *
 **********/

#loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    width: 500px;
    height: 250px;
    margin: -300px 0 0 -250px;
    text-align: center;
    padding: 20px;
    border-radius: 7px;
    border: 1px solid #888;
}

.loginLogo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    text-align: center;
    margin: auto auto 0 auto;
}

.bigName {
    font-size: 20px;
    color: #454545;
}

.bigDescription {
    color: #a0a0a0;
    margin-bottom: 25px;
}

/***********
 * Player  *
 ***********/

#player {
    padding-left: 26px;
    padding-right: 10px;
}

#player-no-video {
    background-image: url("../img/white_noise.gif");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

#player-loading-video {
    font-size: 18px;
    text-align: center;
}

/***********
 * Search  *
 ***********/

.search-track-album-img {
    width: 40px;
    height: 40px;
}

.search-track-item-right {
    background: transparent !important;
}

td.search-track-field {
    padding-left: 10px;
}

span.search-track-field {
    color: #787e95;
    font-weight: bold;
}

.ui-autocomplete {
    max-width: 600px;
    overflow-y: auto;
}

.search-track-item {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    width: 100%;
    background: transparent !important;
}

.search-track-image {
    height: 60px;
}

.search-track-text {
    padding-left: 10px;
}

.search-track-text-name {
    color: #484848;
    font-size: 14px;
}

.search-track-text-description {
    color: #7898a8;
    font-size: 13px;
}

.search-track-spacer {
    height: 5px;
}

/************
 * Playlist *
 ************/

#playlist-container {
    height: 100%;
    padding: 10px;
}

.playlist-item-row {
    height: 60px;
    background-color: #2e3338;
    margin-bottom: 2px;
}

.playlist-item-row-hover {
    background-color: #21252D;
    cursor: pointer;
}

.playlist-item-image {
    height: 60px;
}

.playlist-item-row-right {
    padding-left: 10px;
}

.playlist-item-name {
    color: #989898;
    font-size: 14px;
}

.playlist-item-description {
    font-size: 13px;
}

.empty-playlist {
    font-size: 18px;
    position: absolute;
    top: 40%;
    left: 25%;
}

.playlist-play-hover {
    display: table;
    float: left;
    z-index: 3;
    opacity: 0.7;
    height: 60px;
    background-color: #000;
    position: absolute;
    font-size: 40px;
    text-align: center;
}

.playlist-play-hover-icon {
    display: table-cell;
    vertical-align: middle;
}

/************
 * Users *
 ************/

